<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Lista zleceń</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
  <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
  <link rel="stylesheet" href="/static/css/animate.min.css">
  <link rel="stylesheet" href="/static/css/Add-Another-Button.css">
  <link rel="stylesheet" href="/static/css/Bootstrap-Calendar.css">
  <link rel="stylesheet" href="/static/css/Box-panels-box-panel.css">
  <link rel="stylesheet" href="/static/css/Box-panels.css">
  <link rel="stylesheet" href="/static/css/Navbar-With-Button-icons.css">
  <link rel="stylesheet" href="/static/css/Table-With-Search-search-table.css">
  <link rel="stylesheet" href="/static/css/Table-With-Search.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<style>
  .red-text {
    color: red;
  }
  #materialList {
    text-align: left;
  }
</style>

<body id="page-top" style="height: 1080px;">
<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content" style="text-align: center;font-family: ABeeZee, sans-serif;font-size: 18px;height: 1080px;">
      <nav class="navbar navbar-light navbar-expand-md sticky-top bg-dark shadow mb-4 topbar static-top" style="background: var(--bs-dark);">
        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><span></span><a class="navbar-brand" href="#" style="font-size: 30px;color:  var(--bs-orange);">Zakład krawiecki</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}">
                <li class="nav-item"><a class="nav-link active" href="http://localhost:8080/panel_administratora">Panel administratora</a></li>
              </div>
              <li class="nav-item"><a class="nav-link" href="http://localhost:8080/employeeChat">Panel wiadomości</a></li>
              <li class="nav-item"><a class="nav-link" href="http://localhost:8080/order">Kalendarz</a></li>
              <li class="nav-item"><a class="nav-link" href="http://localhost:8080/price_list">Cennik</a></li>
            </ul>
          </div><button data-bs-target="#" data-bs-toggle="collapse" class="navbar-toggler"></button>
          <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"></div>
          </form>
          <ul class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
              <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                <form class="me-auto navbar-search w-100">
                  <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                  <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="me-3">
                    <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 12, 2019</span>
                    <p>A new monthly report is ready to download!</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="me-3">
                    <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 7, 2019</span>
                    <p>$290.29 has been deposited into your account!</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="me-3">
                    <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 2, 2019</span>
                    <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                  </div>
                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                  <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                    <div class="bg-success status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                    <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                    <div class="status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                    <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                    <div class="bg-warning status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                    <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                  </div>
                </a><a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                    <div class="bg-success status-indicator"></div>
                  </div>
                  <div class="fw-bold">
                    <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                    <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                  </div>
                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </div>
              <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
            </li>
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
              <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span id="user" class="d-none d-lg-inline me-2 text-gray-600 small"></span><img class="border rounded-circle img-profile" src="/static/img/avatars/avatar1.png"></a>
                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="/profile"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profil</a>
                  <div class="dropdown-divider"></div><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Wyloguj</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
       <div class="container" style="width: 100%;text-align: center;margin-bottom: 2%;"><button class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" style="text-align: center;" data-bs-target="#modal-2" data-bs-toggle="modal">Dodaj zlecenie<i class="fas fa-plus-circle edit-icon"></i></button></div>
      <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Zlecenie</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">Opis</span><input class="form-control" type="text"></div>
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">Klient</span><input class="form-control" type="text"></div>
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">Pracownik</span>
                <div class="dropdown"><button class="btn btn-primary dropdown-toggle rounded-0 rounded-end" aria-expanded="false" data-bs-toggle="dropdown" type="button"></button>
                  <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
              </div>
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">Numer telefonu</span><input class="form-control" type="text"></div>
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">E-mail</span><input class="form-control" type="text"></div>
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">Data zakończenia</span><input class="form-control" type="date"></div>
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">Status</span>
                <div class="dropdown"><button class="btn btn-primary dropdown-toggle rounded-0 rounded-end" aria-expanded="false" data-bs-toggle="dropdown" type="button"></button>
                  <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                </div>
              </div>
              <div class="input-group" style="margin-bottom: 3%;"><span class="input-group-text">Cena</span><input class="form-control" type="text"></div>
              <div class="input-group" style="margin-bottom: 5%;"><span class="input-group-text">Materiały</span><input class="form-control" type="text"><button class="btn btn-primary" type="button">Dodaj</button></div>
              <ul style="text-align: left;margin-bottom: 5%;"></ul>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Zamknij</button><button class="btn btn-primary" type="button">Zapisz</button></div>
          </div>
        </div>
      </div>
      <h1></h1>
      <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form id="orderForm"> <!-- Added form element with an id -->
              <div class="modal-header">
                <h4 class="modal-title">Dodaj zlecenie</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Opis</span>
                  <input class="form-control" type="text" name="description" style="margin-bottom: 10px;" required>
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Klient</span>
                  <input class="form-control" type="text" name="clientName" style="margin-bottom: 10px;" required>
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">E-mail</span>
                  <input class="form-control" type="email" name="email" style="margin-bottom: 10px;" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Numer telefonu</span>
                  <input class="form-control" type="tel" name="phoneNumber" style="margin-bottom: 10px;" pattern="[0-9]{9}" required>
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Czas trwania</span>
                  <input type="number" step="0.5" min="0" id="hours" name="hours" style="margin-bottom: 10px;" required>
                  <button id="checkAvailabilityBtn" class="btn btn-primary" type="button" style="margin-bottom: 10px;">Terminy</button>
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Data</span>
                  <input class="form-control" type="date" name="startDate" id="startDate" style="margin-bottom: 10px;" required>
                  <input class="form-control" type="time" name="startTime" id="startTime" style="margin-bottom: 10px;" required>
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Data</span>

                  <input class="form-control" type="date" name="endDate" id="endDate" style="margin-bottom: 10px;" required>
                  <input class="form-control" type="time" name="endTime" id="endTime" style="margin-bottom: 10px;" required>
                </div>
                <div class="input-group" style="margin-bottom: 10px;">
                  <span class="input-group-text">Addon</span>
                  <input class="form-control" type="text" id="selectedUser" disabled />
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-0 rounded-end" aria-expanded="false" data-bs-toggle="dropdown" type="button">Wybierz użytkownika </button>
                    <div class="dropdown-menu" id="userDropdown"></div>
                  </div>
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Cena</span>
                  <input class="form-control" type="number" name="price" style="margin-bottom: 10px;" required>
                </div>
                <div class="input-group">
                  <span class="input-group-text" style="margin-bottom: 10px;">Materiały</span>
                  <input id="materialInput" class="form-control" type="text" name="materials" style="margin-bottom: 10px;">
                  <button id="addMaterialBtn" class="btn btn-primary" type="button" style="margin-bottom: 10px;">Dodaj</button>
                </div>
                <ul id="materialList"></ul>
              </div>
              <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Zamknij</button>
                <button class="btn btn-primary" type="submit">Zapisz</button> <!-- Changed to submit button -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container" style="border-style: none;border-color: var(--bs-dark);border-top: 1px none var(--bs-gray-700) ;border-bottom: 2px solid var(--bs-gray-600) ;">
        <div class="modal fade" role="dialog" tabindex="-1" id="modal-3">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Modal Title</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>The content of your modal.</p>
              </div>
              <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
          </div>
        </div>
        <div class="row" id="calendar">
                      <div class="col-md-3" style="width: 20%;text-align: center;margin-bottom: 1%;"><label class="form-label" style="width: 100%;font-size: 24px;font-family: ABeeZee, sans-serif;">Data</label><label class="form-label" style="font-family: ABeeZee, sans-serif;font-size: 18px;">Poniedziałek</label></div>
                      <div class="col-md-3" style="width: 20%;text-align: center;margin-bottom: 1%;"><label class="form-label" style="width: 100%;font-size: 24px;font-family: ABeeZee, sans-serif;">Data</label><label class="form-label" style="font-family: ABeeZee, sans-serif;font-size: 18px;">Wtorek</label></div>
                      <div class="col-md-3" style="width: 20%;text-align: center;margin-bottom: 1%;"><label class="form-label" style="width: 100%;font-size: 24px;font-family: ABeeZee, sans-serif;">Data</label><label class="form-label" style="font-family: ABeeZee, sans-serif;font-size: 18px;">Środa</label></div>
                      <div class="col-md-3" style="width: 20%;text-align: center;margin-bottom: 1%;"><label class="form-label" style="width: 100%;font-size: 24px;font-family: ABeeZee, sans-serif;">Data</label><label class="form-label" style="font-family: ABeeZee, sans-serif;font-size: 18px;">Czwartek</label></div>
                      <div class="col" style="width: 20%;text-align: center;margin-bottom: 1%;"><label class="form-label" style="width: 100%;font-size: 24px;font-family: ABeeZee, sans-serif;">Data</label><label class="form-label" style="font-family: ABeeZee, sans-serif;font-size: 18px;">Piątek</label></div>
                    </div>
                </div>
                <div class="table-responsive" style="margin-top: 19px;">
                  <table class="table" id="ordersTable">
                        <thead>
                            <tr>
                                <th style="width: 45%;">Opis</th>
                                <th style="width: 25%;">Pracownik</th>
                                <th style="width: 10%;">Status</th>
                                <th style="width: 20%;">Akcje</th>
                            </tr>
                        </thead>
                    <tbody id="ordersTableBody">
                    </tbody>
                    </table>
                </div>
    </div>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/bs-init.js"></script>
<script src="/static/js/Table-With-Search.js"></script>
<script src="/static/js/theme.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/moment.js"></script>
</body>

</script>
<script>
  $.get("/user", function(data) {
    $("#user").html(data.name);
  });
</script>

<script>
  $(document).ready(function () {
    $("#orderForm").on("submit", function (event) {
      event.preventDefault();

      var description = $("input[name='description']").val();
      var clientName = $("input[name='clientName']").val();
      var email = $("input[name='email']").val();
      var phoneNumber = $("input[name='phoneNumber']").val();
      var price = $("input[name='price']").val();
      var materials = [];

      $("#materialList li").each(function () {
        materials.push($(this).text());
      });

      var startDate = document.getElementById('startDate').value;
      var startTime = document.getElementById('startTime').value;
      var endDate = document.getElementById('endDate').value;
      var endTime = document.getElementById('endTime').value;

      var combinedStartDateTime = new Date(startDate + 'T' + startTime);
      var combinedEndDateTime = new Date(endDate + 'T' + endTime);

      // Dodane nowe pola
      var hours = $("#hours").val();
      var selectedUser = $("#selectedUser").val();

      $.ajax({
        type: "POST",
        url: "/order/add",
        contentType: "application/json",
        data: JSON.stringify({
          description: description,
          clientName: clientName,
          email: email,
          phoneNumber: phoneNumber,
          startDate: combinedStartDateTime,
          endDate: combinedEndDateTime,
          price: price,
          items: materials,
          hours: hours,
          selectedUser: selectedUser
        }),
        success: function (response) {
          console.log(response);
          alert("Zamówienie dodane pomyślnie!");
        },
        error: function (error) {
          console.error(error);
          alert("Wystąpił błąd podczas dodawania zamówienia.");
        }
      });
    });
  });
</script>
<script>
  $(document).ready(function () {
    function formatDate(date) {
      const day = date.getDate();
      const month = date.getMonth() + 1;
      const year = date.getFullYear().toString().slice(-2);
      return `${day}.${month}.${year}`;
    }

    function generateCalendar(centerDate) {
      const daysOfWeek = ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'];
      const centerColor = 'var(--bs-warning)';

      $('#calendar').empty();

      for (let i = -2; i <= 2; i++) {
        const currentDate = new Date(centerDate);
        currentDate.setDate(centerDate.getDate() + i);
        const dayOfWeek = daysOfWeek[currentDate.getDay()];
        const textColor = (i === 0) ? centerColor : '';
        if (i == 0)
        {
          displayOrders(formatDate(currentDate));
        }
        const column = `
            <div class="col-md-3" style="width: 20%; text-align: center; margin-bottom: 1%;">
              <label class="form-label" style="width: 100%; font-size: 24px; font-family: ABeeZee, sans-serif; color: ${textColor};">${formatDate(currentDate)}</label>
              <label class="form-label" style="font-family: ABeeZee, sans-serif; font-size: 18px; color: ${textColor};">${dayOfWeek}</label>
            </div>
          `;

        $('#calendar').append(column);
      }
    }

    let today;
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('wybrana_data')) {
      const selectedDateStr = urlParams.get('wybrana_data');
      const [day, month, year] = selectedDateStr.split('.').map(Number);
      today = new Date(year, month - 1, day);
    } else {
      today = new Date();
    }

    generateCalendar(today);

    $('#calendar').on('click', '.col-md-3', function () {
      const index = $(this).index();

      if (index === 0) {
        today.setDate(today.getDate() - 2);
      } else if (index === 1) {
        today.setDate(today.getDate() - 1);
      } else if (index === 3) {
        today.setDate(today.getDate() + 1);
      } else if (index === 4) {
        today.setDate(today.getDate() + 2);
      }

      generateCalendar(today);
      displayOrders(formatDate(today));
    });
  });
</script>
<script>
  $(document).ready(function () {
    var materialList = $("#materialList");

    materialList.on("click", "li", function () {
      $(this).remove();
    });

    $("#addMaterialBtn").on("click", function () {
      var materialInput = $("#materialInput");
      var materialValue = materialInput.val();

      if (materialValue && materialValue.trim() !== "") {
        // Dodaj element do listy z obsługą kliknięcia
        var listItem = $("<li>" + materialValue + "</li>");

        materialList.append(listItem);

        materialInput.val("");
      }
    });
  });
</script>

<script>
  function displayOrders(selectedDate) {
    $.ajax({
      url: '/order/getDailyOrders',
      type: 'GET',
      data: { selectedDate: selectedDate },
      success: function (response) {
        $('#ordersTableBody').empty();


        response.forEach(function (order) {
          const statusText = order.status ? 'W trakcie' : 'Zakończone';
          const row = `
              <tr>
                <td>${order.description}</td>
                <td>${order.employeeName}</td>
                <td>${statusText}</td>
                 <td>
                 <button class="btn btn-success border-0" style="margin-left: 5px;background: var(--bs-orange);" type="submit" data-bs-toggle="modal" data-bs-target="#modal-3"><i class="far fa-question-circle"></i>
                 </button>
                 <button class="btn btn-success border-0" style="margin-left: 5px;background: var(--bs-cyan);" type="submit" data-bs-target="#modal-1" data-bs-toggle="modal"><i class="far fa-edit"></i>
                 </button>
                 <button class="btn btn-danger" style="margin-left: 5px;" type="submit"><i class="fa fa-trash" style="font-size: 15px;"></i>
                 </button>
                 </td>
              </tr>
            `;
          $('#ordersTableBody').append(row);
        });
      },
      error: function () {
        console.log('Błąd podczas pobierania danych zamówień.');
      }
    });
  }
</script>
<script>
  $(document).ready(function() {
    // Funkcja do pobierania i wyświetlania użytkowników w dropdownie
    function fetchUsers() {
      $.ajax({
        url: '/users/findByRole', // Twoje API endpoint
        method: 'GET',
        success: function(users) {
          // Wyczyszczenie istniejącej listy
          $('#userDropdown').empty();

          // Dodanie użytkowników do dropdowna
          users.forEach(function(user) {
            $('#userDropdown').append('<a class="dropdown-item" href="#" onclick="selectUser(\'' + user.name + '\')">' + user.name + '</a>');
          });
        },
        error: function(error) {
          console.error('Błąd podczas pobierania użytkowników:', error);
        }
      });
    }

    // Funkcja do ustawiania wybranego użytkownika w inpucie
    window.selectUser = function(userName) {
      $('#selectedUser').val(userName);
    };

    // Wywołaj funkcję fetchUsers, aby wczytać użytkowników przy ładowaniu strony
    fetchUsers();
  });
</script>
<script>
  $(document).ready(function () {
    // Obsługa kliknięcia przycisku "Sprawdź dostępność"
    $("#checkAvailabilityBtn").click(function () {
      // Pobierz czas trwania z formularza
      var durationHours = $("#hours").val();

      // Wywołaj kontroler za pomocą AJAX
      $.ajax({
        type: "GET",
        url: "/checkAvailability",
        data: {
          durationHours: durationHours
        },
        success: function (response) {
          if (response.status === "success") {
            var startDate = new Date(response.startDate);
            var endDate = new Date(response.endDate);
            var startDateText = startDate.toISOString().slice(0, 10);
            var endDateText = endDate.toISOString().slice(0, 10);

            // Przeliczanie czasu trwania na godziny i minuty
            var durationMinutes = response.durationMinutes;
            var durationHours = Math.floor(durationMinutes / 60);
            var durationMinutesRemainder = durationMinutes % 60;

            // Ustawianie czasu trwania w inpucie
            $("#hours").val(durationHours + durationMinutesRemainder / 60);

            // Ustawianie pozostałych pól formularza
            $("#startDate").val(startDateText);
            $("#startTime").val(response.startTime);
            $("#endDate").val(endDateText);
            $("#endTime").val(response.endTime);
            $("#selectedUser").val(response.suggestedUser);
          } else {
            alert("Brak dostępnych pracowników w ramach dni roboczych.");
          }
        },
        error: function () {
          alert("Wystąpił błąd podczas sprawdzania dostępności.");
        }
      });
    });
  });
</script>
</html>