<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zlecenia</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/Add-Another-Button.css">
    <link rel="stylesheet" href="/static/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="/static/css/Box-panels-box-panel.css">
    <link rel="stylesheet" href="/static/css/Box-panels.css">
    <link rel="stylesheet" href="/static/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/static/css/Table-With-Search-search-table.css">
    <link rel="stylesheet" href="/static/css/Table-With-Search.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<style>
.red-text {
  color: red;
}
#materialList {
    text-align: left;
}

</style>

<body id="page-top">
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" style="text-align: center;font-family: ABeeZee, sans-serif;font-size: 18px;">
            <nav class="navbar navbar-light navbar-expand-md sticky-top bg-dark shadow mb-4 topbar static-top" style="background: var(--bs-dark);">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><span></span><a class="navbar-brand" href="#" style="font-size: 30px;color: var(--bs-orange);">Zakład krawiecki</a>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}">
                                <li class="nav-item"><a class="nav-link active" href="http://localhost:8080/panel_administratora">Panel administratora</a></li>
                            </div>
                            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/employeeChat">Panel wiadomości</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/daily">Lista dzienna</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/price_list">Cennik</a></li>
                        </ul>
                    </div><button data-bs-target="#" data-bs-toggle="collapse" class="navbar-toggler"></button>
                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group"></div>
                    </form>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="me-auto navbar-search w-100">
                                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                        <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                    <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 12, 2019</span>
                                        <p>A new monthly report is ready to download!</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 7, 2019</span>
                                        <p>$290.29 has been deposited into your account!</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="me-3">
                                        <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 2, 2019</span>
                                        <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                    </div>
                                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                    <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                        <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                        <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                        <div class="bg-warning status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                        <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                    </div>
                                </a><a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                        <div class="bg-success status-indicator"></div>
                                    </div>
                                    <div class="fw-bold">
                                        <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                        <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                    </div>
                                </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </div>
                            <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                        </li>
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span id="user" class="d-none d-lg-inline me-2 text-gray-600 small"></span><img class="border rounded-circle img-profile" src="/static/img/avatars/avatar1.png"></a>
                                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="/profile"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profil</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Wyloguj</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
                <div class="row">
                    <div class="col d-xxl-flex justify-content-xxl-center">
  <button class="btn btn-primary btn-prev" type="button" style="margin-right: 10px;">&lt;&lt;&lt;</button>
 <button class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" data-bs-target="#modal-2" data-bs-toggle="modal">Dodaj zlecenie<i class="fas fa-plus-circle edit-icon"></i></button>
  <button class="btn btn-primary btn-next" type="button" style="margin-left: 10px;">&gt;&gt;&gt;</button>
</div>
                </div>
                <h1></h1>
                <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form id="orderForm"> <!-- Added form element with an id -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Title</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group">
                                        <span class="input-group-text" style="margin-bottom: 10px;">Opis</span>
                                        <input class="form-control" type="text" name="description" style="margin-bottom: 10px;" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" style="margin-bottom: 10px;">Klient</span>
                                        <input class="form-control" type="text" name="clientName" style="margin-bottom: 10px;" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" style="margin-bottom: 10px;">E-mail</span>
                                        <input class="form-control" type="email" name="email" style="margin-bottom: 10px;" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" style="margin-bottom: 10px;">Numer telefonu</span>
                                        <input class="form-control" type="tel" name="phoneNumber" style="margin-bottom: 10px;" pattern="[0-9]{9}" required>
                                    </div>
                                    <div class="input-group"></div>
                                    <div class="input-group">
                                        <span class="input-group-text" style="margin-bottom: 10px;">Data</span>
                                        <input class="form-control" type="date" name="endDate" style="margin-bottom: 10px;" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" style="margin-bottom: 10px;">Cena</span>
                                        <input class="form-control" type="number" name="price" style="margin-bottom: 10px;" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text" style="margin-bottom: 10px;">Materiały</span>
                                        <input id="materialInput" class="form-control" type="text" name="materials" style="margin-bottom: 10px;">
                                        <button id="addMaterialBtn" class="btn btn-primary" type="button" style="margin-bottom: 10px;">Dodaj</button>
                                    </div>
                                    <ul id="materialList"></ul>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Zamknij</button>
                                    <button class="btn btn-primary" type="submit">Zapisz</button> <!-- Changed to submit button -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row"><div class="bootstrap_calendar">
<div class="container py-5">

  <!-- Calendar -->
  <div class="calendar shadow bg-white p-5">
    <div class="d-flex align-items-center"><i class="fa fa-calendar fa-3x mr-3"></i>
      <h2 class="month font-weight-bold mb-0 text-uppercase">Grudzień 2023</h2>
    </div>

    <ol class="day-names list-unstyled">
      <li class="font-weight-bold text-uppercase">Poniedziałek</li>
      <li class="font-weight-bold text-uppercase">Wtorek</li>
      <li class="font-weight-bold text-uppercase">Środa</li>
      <li class="font-weight-bold text-uppercase">Czwartek</li>
      <li class="font-weight-bold text-uppercase">Piątek</li>
      <li class="font-weight-bold text-uppercase">Sobota</li>
      <li class="font-weight-bold text-uppercase">Niedziela</li>
    </ol>

    <ol class="days list-unstyled">

    </ol>
  </div>
</div>
</div></div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="/static/js/Table-With-Search.js"></script>
    <script src="/static/js/theme.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const monthNames = [
            "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec",
            "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"
        ];

        const dayNames = [
            "Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"
        ];

        const calendar = document.querySelector(".calendar");
        const monthElement = calendar.querySelector(".month");
        const daysList = calendar.querySelector(".days");

        const prevButton = document.querySelector(".btn-prev");
        const nextButton = document.querySelector(".btn-next");

        function updateCalendar(year, month) {
            const currentDate = new Date();

            if (!year || !month) {
                year = currentDate.getFullYear();
                month = currentDate.getMonth() + 1;
            }

            monthElement.textContent = `${monthNames[month - 1]} ${year}`;

            const firstDayOfMonth = new Date(year, month - 1, 1);
            const startingDay = firstDayOfMonth.getDay() === 0 ? 7 : firstDayOfMonth.getDay();

            const daysInMonth = new Date(year, month, 0).getDate();

            daysList.innerHTML = '';

            const daysFromPrevMonth = startingDay - 1;

            const totalDaysToShow = 35;

            let dayOfMonth = 1;

            const prevMonthDays = new Date(year, month - 1, 0).getDate();

            for (let i = 0; i < daysFromPrevMonth; i++) {
                const li = document.createElement("li");
                li.classList.add("empty-day", "outside");
                li.innerHTML = `<div class="date">${prevMonthDays - daysFromPrevMonth + i + 1}</div>`;
                daysList.appendChild(li);
            }

            for (let day = 1; day <= daysInMonth && daysList.children.length < 35; day++) {
                const li = document.createElement("li");
                const dayOfWeek = (startingDay + day - 2) % 7;

                li.innerHTML = `<div class="date">${dayOfMonth}</div>`;
                li.classList.add(
                    dayOfWeek === 0 ? "sunday" :
                        dayOfWeek === 6 ? "saturday" :
                            "weekday"
                );
                daysList.appendChild(li);

                dayOfMonth++;
            }

            let nextMonthDay = 1;
            while (daysList.children.length < totalDaysToShow) {
                const li = document.createElement("li");
                li.classList.add("empty-day", "outside");
                li.innerHTML = `<div class="date">${nextMonthDay}</div>`;
                daysList.appendChild(li);

                nextMonthDay++;
            }

            updateOrderButtons(year, month);
        }

        function updateOrderButtons(year, month) {
            $.get("/order/getAllOrders", function (data) {
                data.forEach(function (order) {
                    const orderDate = new Date(order.endDate);
                    const orderYear = orderDate.getFullYear();
                    const orderMonth = orderDate.getMonth() + 1;

                    if (orderYear === year && orderMonth === month) {
                        const dayElements = daysList.querySelectorAll(".weekday div.date");

                        dayElements.forEach(function (dayElement) {
                            if (parseInt(dayElement.textContent) === orderDate.getDate()) {
                                let button = dayElement.closest("li").querySelector(".order-button");

                                if (!button) {
                                    button = document.createElement("button");
                                    button.classList.add("btn", "btn-primary", "order-button");
                                    button.style.fontWeight = "bold";

                                    const ordersInDay = orderCountForDay(orderDate.getDate(), data);
                                    const completedOrdersInDay = orderCompletedCountForDay(orderDate.getDate(), data, false);

                                    if (ordersInDay === completedOrdersInDay) {
                                        button.style.backgroundColor = "var(--bs-danger)";
                                        button.style.fontWeight="bold";
                                        button.style.border="none";
                                        button.style.color="var(--bs-gray-900)";
                                        button.textContent = `Zlecenia: ${completedOrdersInDay}/${ordersInDay} (ukończone)`;
                                    } else {
                                        button.style.backgroundColor = "var(--bs-primary)";
                                        button.style.fontWeight="bold";
                                        button.style.borderStyle="solid"
                                        button.style.borderColor="dark"
                                        button.style.color="var(--bs-gray-900)";
                                        button.textContent = `Zlecenia: ${completedOrdersInDay}/${ordersInDay} (w trakcie)`;
                                    }

                                    dayElement.closest("li").appendChild(button);

                                    button.addEventListener("click", function () {
                                        const selectedDate = new Date(year, month - 1, orderDate.getDate());
                                        navigateToDailyPage(selectedDate);
                                    });
                                }
                            }
                        });
                    }
                });
            });
        }

        function orderCompletedCountForDay(day, orders, completed = false) {
            return orders.filter(function (order) {
                const orderDate = new Date(order.endDate);
                return orderDate.getDate() === day && order.status === completed;
            }).length;
        }
        function orderCountForDay(day, orders) {
            return orders.filter(function (order) {
                const orderDate = new Date(order.endDate);
                return orderDate.getDate() === day;
            }).length;
        }


        prevButton.addEventListener("click", function () {
            const currentMonth = monthElement.textContent.split(" ")[0];
            const currentYear = parseInt(monthElement.textContent.split(" ")[1], 10);
            let monthIndex = monthNames.indexOf(currentMonth);

            if (monthIndex === 0) {
                updateCalendar(currentYear - 1, 12);
            } else {
                updateCalendar(currentYear, monthIndex);
            }
        });

        nextButton.addEventListener("click", function () {
            const currentMonth = monthElement.textContent.split(" ")[0];
            const currentYear = parseInt(monthElement.textContent.split(" ")[1], 10);
            let monthIndex = monthNames.indexOf(currentMonth);

            if (monthIndex === 11) {
                updateCalendar(currentYear + 1, 1);
            } else {
                updateCalendar(currentYear, monthIndex + 2);
            }
        });

        updateCalendar();
    });
    function navigateToDailyPage(date) {
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = date.getDate();
        const formattedDate = `${day < 10 ? '0' : ''}${day}.${month < 10 ? '0' : ''}${month}.${year}`;


        const dailyPageURL = `http://localhost:8080/daily?wybrana_data=${formattedDate}`;


        window.location.href = dailyPageURL;
    }

</script>
<script>
    $.get("/user", function(data) {
        $("#user").html(data.name);
    });
</script>
<script>
    $(document).ready(function () {
        var materialList = $("#materialList");

        materialList.on("click", "li", function () {
            $(this).remove();
        });

        $("#addMaterialBtn").on("click", function () {
            var materialInput = $("#materialInput");
            var materialValue = materialInput.val();

            if (materialValue && materialValue.trim() !== "") {
                // Dodaj element do listy z obsługą kliknięcia
                var listItem = $("<li>" + materialValue + "</li>");

                materialList.append(listItem);

                materialInput.val("");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#orderForm").on("submit", function (event) {
            event.preventDefault();

            var description = $("input[name='description']").val();
            var clientName = $("input[name='clientName']").val();
            var email = $("input[name='email']").val();
            var phoneNumber = $("input[name='phoneNumber']").val();
            var endDate = $("input[name='endDate']").val();
            var price = $("input[name='price']").val();
            var materials = [];

            $("#materialList li").each(function () {
                materials.push($(this).text());
            });

            $.ajax({
                type: "POST",
                url: "/order/add",
                contentType: "application/json",
                data: JSON.stringify({
                    description: description,
                    clientName: clientName,
                    email: email,
                    phoneNumber: phoneNumber,
                    endDate: endDate,
                    price: price,
                    items: materials
                }),
                success: function (response) {
                    console.log(response);
                    alert("Zamówienie dodane pomyślnie!");
                },
                error: function (error) {
                    console.error(error);
                    alert("Wystąpił błąd podczas dodawania zamówienia.");
                }
            });
        });
    });
</script>
</html>